body {
  margin: 10%;
  font-family: Rockwell;
}
header {
  display: block;
  width: 100%;
}
h1 {
  font-size: 50px;
  height: 15px;
}
h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-family: arial;
}
h4{
  text-transform: uppercase;
  font-size: 14px;
  font-family: helvetica;
  color: gray;
}
li, p{
  font-family: arial;
}
h3 span{
  color: #3b97ed;
  font-family: Rockwell;
  font-weight: bold;
}

.information {
  display: inline;
  float: right;
  width: 30%;
}
.name {
  display: inline;
  float: left;
  width: 70%;
}
.Ex, .Edu, .Skills{
  float: left;
  width: 100%;
  border-top: 1px solid grey;
  margin-top: 20px;
}
.skills1 {
  float: left;
  width: 50%;
  margin-right: 40px;
}
.skills1, .skills2 {
  display: inline;
}
.information p {
  height: 10px;
  font-family: Rockwell;
  color: gray;
}
